<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty plugin="PrioritySorter@2.6">
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PROCESS_ID</name>
          <description>ID for the process</description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.23"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>GENERATION</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>!6N@Gpp3</authToken>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export PATH=$PATH&quot;:/usr/rok4/bin&quot;


# Recupere la livraison
livraison=$(perl -e &apos;
use LWP::UserAgent;use HTTP::Request::Common;use JSON;
my $ua = LWP::UserAgent-&gt;new;$ua-&gt;proxy([&quot;http&quot;, &quot;ftp&quot;],&quot;http://relay-gpp3-i-interco.sca.gpp.priv.atos.fr:3128&quot;);
my $response = $ua-&gt;request( GET &quot;http://gpp3-entrepot-admin-geoportail-fr.aw.atosorigin.com/admin/api/generation/getGeneration?generationId=&quot; . &apos;$PROCESS_ID&apos;);
my $hash_response = JSON::from_json($response-&gt;decoded_content);
my $delivery_login = $hash_response-&gt;{&quot;inputDatas&quot;}-&gt;[0]-&gt;{&apos;login&apos;};
print $delivery_login;&apos;)


# Dezippe dans /FILERS/i19a_sas2/tmp/generations/$PROCESS_ID/tmp/PREPROCESSING
mkdir -p /FILERS/i19a_sas2/tmp/generations/$PROCESS_ID/tmp/PREPROCESSING/
cd /FILERS/i19a_sas2/tmp/generations/$PROCESS_ID/tmp/PREPROCESSING/
if [ ! -d /FILERS/i19a_sas2/FTP/$livraison/*/*/*8bits*/ ] ; then
 echo &quot;[ERROR] La livraison ne contient pas de répertoire spécifique aux TIFF 8 bits.&quot;
fi
7z x /FILERS/i19a_sas2/FTP/$livraison/*/*/*8bits*/*001


repertoire_donnees=$(find . -name &quot;1_DONNEES*&quot; -type d)
cd $repertoire_donnees/*/


for files in $(find . -regextype egrep -regex &quot;.*\.(tif|TIF|tiff|TIFF)&quot;)
do
 file=`echo $files | sed &quot;s/.\(TIF\|TIFF\|tiff\|tif\)/.tif/&quot;`
 if [ `echo $files | cut -d&quot;.&quot; -f3` != &quot;tif&quot; ] ; then mv $files $file ; fi
 gdal_translate -of GTiff -co &quot;TFW=YES&quot; $file `echo $file | sed s/.tif/_tmp.tif/g`
 if [ -f `echo $file | sed s/.tif/_tmp.tif/g` ] ; then rm $file ; mv `echo $file | sed s/.tif/_tmp.tif/g` $file ; mv `echo $file | sed s/.tif/_tmp.tfw/g` `echo $file | sed s/.tif/.tfw/g` ; fi
 tiff2rgba -n -c none $file `echo $file | sed s/.tif/_tmp.tif/g`
 if [ -f `echo $file | sed s/.tif/_tmp.tif/g` ] ; then rm $file ; mv `echo $file | sed s/.tif/_tmp.tif/g` $file ; fi
 manageNodata -target 0,0,0 $file -mask-out `echo $file | sed s/.tif/.msk/g` -channels 3 -format uint8
done

# Creation d&apos;un lien symbolique vers le dossier dezippe 
cd /FILERS/i19a_sas2/FTP/$livraison/*/
if [ -L ../lien_dossier_tiff ] ; then
 rm ../lien_dossier_tiff
fi
ln -s /FILERS/i19a_sas2/tmp/generations/$PROCESS_ID/tmp/PREPROCESSING/$repertoire_donnees ../lien_dossier_tiff


# Creation d&apos;un infos.txt comprenant le lien symbolique
mv infos.txt infos.txt.save
echo &quot;[PRODUCT]
TERRITORY=FXX
PARTNERNAME=IGN,CNES,ASTRIUM
PROJECTION=IGNF:LAMB93
FORMAT=TIFF

[DIRECTORIES]
DIR.DATA=lien_dossier_tiff&quot; &gt; infos.txt


bash /MIDDLE/gpp3/entrepot-outils.geoportail.fr/Exec.sh be4_configuration id=${PROCESS_ID} conf=${JOB_NAME} datasource=${JOB_NAME}


# Remet le bon infos.txt en place
cd /FILERS/i19a_sas2/FTP/$livraison/*/
rm infos.txt
mv infos.txt.save infos.txt

</command>
    </hudson.tasks.Shell>
    <hudson.plugins.parameterizedtrigger.TriggerBuilder plugin="parameterized-trigger@2.22">
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>BE4-BASE</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </buildStepFailureThreshold>
            <unstableThreshold>
              <name>UNSTABLE</name>
              <ordinal>1</ordinal>
              <color>YELLOW</color>
              <completeBuild>true</completeBuild>
            </unstableThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
              <completeBuild>true</completeBuild>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.9">
      <regexp>AVERTISSEMENT_SUR_PROCESSUS</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>