<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.queueSorter.PrioritySorterJobProperty>
      <priority>100</priority>
    </hudson.queueSorter.PrioritySorterJobProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty>
      <diskUsageWithoutBuilds>9266</diskUsageWithoutBuilds>
      <slaveWorkspacesUsage class="java.util.concurrent.ConcurrentHashMap"/>
    </hudson.plugins.disk__usage.DiskUsageProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>!6N@Gpp3</authToken>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher>
      <regexp>AVERTISSEMENT_SUR_PROCESSUS</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>