.. image:: _static/ign-header.png	

.. raw:: pdf

    Spacer 0,50
    Spacer 0 50

.. cssclass:: main-title

	IGN-GPP3-0108-REC - Entrepot - Recette fonctionnelle des scripts entrepôt

	Documentation Géoportail

.. raw:: pdf

    Spacer 0,25
    Spacer 0 25
	
.. cssclass:: attribution

Dernière mise à jour le |date| à |time|	

.. raw:: pdf

	PageBreak	oneColumn

.. |date| date:: %d/%m/%Y
.. |time| date:: %H:%M